// Use variables to style your logo
.home-prop{
  width: 1000px;
  height: 400px;  // Add other styling properties as needed
  position: fixed;
  top: 50%; // Adjust as needed
  right: -100px; // Adjust as needed
  transform: translateY(-50%); 
}

.text{
  tex
  position: fixed;
  top: 50%; // Adjust as needed
  left: 100px; // Adjust as needed
  transform: translateY(-50%);
}
