// Use variables to style your logo
.home-prop{
  width: 1000px;
  height: 400px;  // Add other styling properties as needed
  position: fixed;
  top: 50%; // Adjust as needed
  right: -100px; // Adjust as needed
  transform: translateY(-50%); 
}

.text-container{
  font-size: xx-large;
  font-weight: bolder;
  position: fixed;
  top: 40%; // Adjust as needed
  left: 200px; // Adjust as needed
  transform: translateY(-50%);

}


.revolutionze{
  font-size: medium;
  position: fixed;
  top: 45%; // Adjust as needed
  left: 400px; // Adjust as needed
  transform: translateY(-50%);
}